body {
  background-color: #e2eaf3;
}

#calculator {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width: 257px;
  margin: 150px auto 0 auto;
  color: #e1e1e1;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.btn {
  width: 65px;
  height: 58px;
  border-radius: 0;
  background-color: #aac3dc;
}

.digit {
  font-size: 18px;
  color: #525252;
  border: 1px solid #9ab2cb;
}

.digit:hover {
  background-color: #9cb9d6;
}

.operator,
.symbol,
#equals {
  opacity: 1;
  color: #e1e1e1;
  background-color: #51779e;
}

.operator:hover,
.symbol:hover,
#equals:hover {
  color: #525252;
  background-color: #aac3dc;
}

.left-border {
  border-left: 1px solid #9ab2cb;
}

#equals {
  width: 129px;
  text-align: center;
  border-bottom-right-radius: 12px;
}

#clear {
  font-size: 19px;
}

#dot {
  border-bottom-left-radius: 12px;
}

#display-container {
  font-size: 18px;
  width: 257px;
  height: 85px;
  padding-right: 5px;
  text-align: right;
  border: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #383f45;
}

#display {
  line-height: 85px;
  margin: 0 0 0 0;
}